form table table table{
	/*border-collapse:collapse;
	padding:0;*/
}

thead td, thead td.locked {
position:relative;
}
thead td {
top: expression(document.getElementById("DIVLOCKHEAD").scrollTop-2); /*IE5+ only*/
z-index: 20;
}
thead td.locked {z-index: 30;}


/*/------------------------------------------------------------------\*/
/*|                                                                  |*/
/*|                      Configuration du BODY                       |*/
/*|                                                                  |*/
/*\------------------------------------------------------------------/*/

BODY 	{
		background-color      : #FFFFFF;
		color		  : #000000;
		margin-left           : 0;
		margin-right          : 0;
		margin-top            : 0;
		white-space:nowrap;
	}

/*/------------------------------------------------------------------\*/
/*|                                                                  |*/
/*|                          Barre de menu                           |*/
/*|                                                                  |*/
/*\------------------------------------------------------------------/*/

.barremenu {
	color            : #336699;
	font-family      : arial;
	font-size        : 15px;
    font-weight      : bold;
    
}
A.barremenu         {color : #336699; text-decoration:underline;font-family : arial; font-size: 11px; font-weight:bold;  }
A.barremenu:Visited {color : #6489A0; text-decoration : none;}
A.barremenu:Active  {color : #6489A0; text-decoration : none;}
A.barremenu:Hover   {color : #CC0000; text-decoration : none; }


/*/------------------------------------------------------------------\*/
/*|                                                                  |*/
/*|                         Description news                         |*/
/*|                                                                  |*/
/*\------------------------------------------------------------------/*/


/* Titre d'une news */
.titrenews {
	  color            : #CC0000;
	  background-color : #FFE787;
	  font-family      : arial;
	  font-size        : 14px;
	  font-weight      : bold;
}

/* Titre commentaire d'une news */
.titrecommentaires {
       color            : #CC0000;
       background-color : #FFE787;
	 font-family      : arial;
  	 font-size        : 12px;
  	 font-weight      : bold;
 }

/* haut news (colonne \u00e0 droite)*/
.colonnedroite {
     /* background-color : white; */
}

/* Corps d'une news */
.corpsnews {
      font-family: verdana;
      font-size: 12px;
}

/* Liens dans les news */

A         {color : #6489A0; text-decoration : none;}
A:Visited {color : #6489A0; text-decoration : none;}
A:Active  {color : #6489A0; text-decoration : none;}
A:Hover   {color : #CC0000; text-decoration : underline; }


/*/------------------------------------------------------------------\*/
/*|                                                                  |*/
/*|                      Carr\u00e9 Information News                      |*/
/*|                                                                  |*/
/*\------------------------------------------------------------------/*/


/* Ecriture et fond dans le carr\u00e9 quand non Lire plus et non comment\u00e9 */
.infonews {
             color : #555555;
	background-color: #E7E8F1;
       font-family : arial;
         font-size : 10px;
       font-weight : bold;
}

/* Ecriture et fond dans le carr\u00e9 quand Lire plus ou comment\u00e9 */
.infonewsactif {
       font-family : arial;
         font-size : 10px;
       font-weight : bold;
             color : #555555;
	background-color: #FFE787;
	
}

/* Liens en non Lire plus et non comment\u00e9 */
A.infonews         {color : #6489A0; text-decoration : underline;}
A.infonews:Visited {color : #6489A0; text-decoration : none;}
A.infonews:Active  {color : #6489A0; text-decoration : none;}
A.infonews:Hover   {color : #CC0000; text-decoration : none; }


/* Liens en Lire Plus ou comment\u00e9, sauf lien Commenter */
A.infonewsactif         {color : #CC0000; text-decoration : underline;}
A.infonewsactif:Visited {color : #CC0000; text-decoration : none;}
A.infonewsactif:Active  {color : #CC0000; text-decoration : none;}
A.infonewsactif:Hover   {color : #FFFFFF; text-decoration : none;}

/* Liens Commenter dans un carr\u00e9 Lire plus ou comment\u00e9 */
A.infonewspassif         {color : #6489A0; text-decoration : underline;}
A.infonewspassif:Visited {color : #6489A0; text-decoration : none;}
A.infonewspassif:Active  {color : #6489A0; text-decoration : none;}
A.infonewspassif:Hover   {color : #CC0000; text-decoration : none;}


/*/------------------------------------------------------------------\*/
/*|                                                                  |*/
/*|                  Page Tous les sujets (topics)                   |*/
/*|                                                                  |*/
/*\------------------------------------------------------------------/*/

P.topics { 
             color : #336699; 
  background-color : #FFFFFF; 
       font-weight : bold;
}

H1.titres {
  color : #FFEC00;
}

/*/------------------------------------------------------------------\*/
/*|                                                                  |*/
/*|                        Configuration Struts                      |*/
/*|                                                                  |*/
/*\------------------------------------------------------------------/*/

.MENU {
	background-color: #E7E8F1;
}


P.FORM {
	color : #6489A0;
	font-family : verdana;
	font-size : 16px;
	text-align: center;
	white-space:nowrap;
}



/***********************************************
 * color of the thin line surrounding the form *
 **********************************************/
TABLE.FORM {
		/*background-color : #336699;*/
		
		border-style:solid;
		border-width:2px;
		
}

/**************************************
 * background color of the form title *
 * modify- 07/15                      *
 *************************************/
TH.FORM {
		/*color      : #000000;
		background-color : #336699;
		background-color: #C6CAE4;
		font-weight: bold;
		font-family : verdana;*/
	/*
	background-image:url(../config/banner_01.gif);
	text-align:center;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	letter-spacing: 10pt;	
	color:#336699;
	height:23px;
	white-space:nowrap;
	*/
	
	background-image:url(../config/banner_01.gif);
	text-align:center;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	letter-spacing: 10pt;	
/*	color:#336699;*/
	height:23px;
	white-space:nowrap;
	
	background-color:#0497CA;
	/*background-color:#666666;*/
	/*background-color:#5796CC;*/
	border-style:solid;
	border-width:0px;
/*	border-color:#63BACE #4296A5 #4296A5 #5AB2C6;*/
	color: #ffffff;
	
	border: 1px solid #00;
}



SPAN.FORM {
		color      : #000000;
		/*background-color : #336699;*/
		background-color : #C6CAE4;
		font-weight: bold;
		font-family : verdana;
		
}
/********************************
 * background color of the form *
 * modify- 07/15                *
 *******************************/
/*
TD.FORM {
		background-color : #FFFFFF;
		white-space:nowrap;
}
*/
TD.FORM {
		/*background-color : #FFFFFF;*/
		/*color:#336699;*/
		border: 1px solid #00;
		text-align:center;
		white-space:nowrap;
		
		background-color:#CCCCCC;

		border-style:solid;
		border-width:0px;
		border-color:#97C4C6 #7EAAA9 #7EAAA9 #97C4C6;	
		padding:0px 10px;
		font-size: 9pt;line-height: 16pt;letter-spacing:1pt;
		letter-spacing: 1px;
		color: #242424;
		height:20px;
		
}

TD.FORM2 {
	
	color: #242424;
	text-align:center;
	background-color: #eeeeee;
	font-size: 9pt;line-height: 16pt;
	border-top: 1px  solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	
	/*background-color:#B5E3D6;*/
	border-style:solid;
	border-width:1px;
	/*border-color:#B8E0D1 #AACABF #9EBAB0 #B8E0D1;	*/
	padding:0px 10px;
	letter-spacing: 1px;				

	height:20px;
	white-space:nowrap;
	
}

/*******************************
 *  background color to use to *
 *  display the errors         *
 ******************************/
TD.ERROR {
		background-color : #FF7777;
}

/**
 * Le style FORM servant aussi pour les listes, il faut rajouter ceci pour les listes triables.
 */
TH.FORM TR TD {
		color      : #000000;
		background-color : #C6CAE4;
		font-weight: bold;
		font-family : verdana;
		white-space:nowrap;
}

/******************************
 *    class used to display   *
 *    the input field labels  *
 *****************************/

.LABEL {
	font-family : verdana;
	font-size : 12;
 	color : #336699;	
}

SPAN.LABEL {
}
TH.LABEL {
		text-align:right;
		white-space:nowrap;
}


.LABELLEFT {
	font-family : verdana;
	font-size : 12;
 	color : #336699;	
}

SPAN.LABELLEFT {
}
TH.LABELLEFT {
		text-align:left;
		white-space:nowrap;
}

.COMMENT {
	color      : #336699; 
	font-style : bold; 
	font-family: verdana;
	text-align : center;
}

.TOPLINK {
	font-style : verdana;
	text-align : left;
}


/*******************************************
 * class for the title of the subscription *
 ******************************************/
P.SUBSCRIPTION {
		  color : #336699;
		  font-family: arial;
		  font-weight : bold;
		  text-align : center;
		  font-size : 16px;
}
/********************************************************
 * color of the thin line surrounding the subscriptions *
 *******************************************************/
TABLE.SUBSCRIPTION {
		background-color : #336699;
}
/*************************
 * class for the headers *
 ************************/
TH.SUBSCRIPTION {
		color      : #FFFFFF;
		background-color : #336699;
		font-weight: bold;	
		white-space:nowrap;		
}
/*******************************
 * class for the subscriptions *
 ******************************/
TD.SUBSCRIPTION {

		color      : #336699;
		background-color : #FFFFFF;
		white-space:nowrap;
}

.ongletMain {
	BORDER-RIGHT: #336699 1px solid; 
	BORDER-TOP: medium none; 
	BORDER-LEFT: #336699 1px solid; 
	BORDER-BOTTOM: #336699 1px solid; 
	BACKGROUND-COLOR: #FFFFFF;/*dce8f4*/
}

.clsAction {	/*頁籤中的table*/
	FONT-WEIGHT: bold; 
	FONT-SIZE: 10px; 
	COLOR: #053c6d; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	width:100%;
}


.ongletTextEna {
	BORDER-RIGHT: #336699 1px solid; 
	BORDER-TOP: #336699 1px solid; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 14px; 
	BORDER-LEFT: #336699 1px solid; 
	COLOR: #FFFFFF; /*#005386; */
	BORDER-BOTTOM: medium none; 
	FONT-FAMILY: verdana; 
	BACKGROUND-COLOR: #336699; 
	TEXT-ALIGN: center;
}

.ongletTextDis {
	BORDER-RIGHT: #336699 1px solid; 
	BORDER-TOP: #336699 1px solid; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 14px; 
	BORDER-LEFT: #336699 1px solid; 
	COLOR: #336699; 
	BORDER-BOTTOM: #336699 1px solid; 
	FONT-FAMILY: verdana; 
	BACKGROUND-COLOR: #FFFFFF; 
	TEXT-ALIGN: center;
}

.ongletTextErr {
	BORDER-RIGHT: #c5c5c5 1px solid; 
	BORDER-TOP: #c5c5c5 1px solid; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 10px; 
	BORDER-LEFT: #c5c5c5 1px solid; 
	COLOR: #FFFFFF; 
	BORDER-BOTTOM: #80add6 2px solid; 
	FONT-FAMILY: verdana; 
	BACKGROUND-COLOR: #ED4F50;
	TEXT-ALIGN: center;
}

.ongletMiddle {
	BORDER-RIGHT: #336699 1px solid; 
	BORDER-TOP: medium none; 
	FONT-SIZE: 1px; 
	BORDER-LEFT: #336699 1px solid; 
	BORDER-BOTTOM: medium none; 
	BACKGROUND-COLOR: #FFFFFF;
}

.ongletSpace {
	BORDER-BOTTOM: #336699 1px solid;
}

/**
 * Calendar classes
 */

TD.CALENDRIER {
	color: #336699;
	background-color: #C2C2C2; 
	font-weight: bold; 
	text-align: center; 
	font-size: 10px;
	white-space:nowrap;
}

A.CALENDRIER {
	text-decoration: none; 
	font-size: 10px;	
	color: #336699; //#000000;
}

.CALENDARBORDER {
	background-color: #336699; //#000000; 
}

.CALENDARTITLE {
	background-color: #336699; //#C9252C;
}

.CALENDARWEEK {
	background-color: #FFFFFF;
}

.CALENDARWEEKEND {
	background-color: #FFF4E5;
}

.CALENDARSELECTED {
	background-color: #FF8F01;
}
/***********************************************
 *     Datagrid styles  3  for  FM050100M0     *
 *   only modify DATAGRID table                *
 **********************************************/
TABLE.DATAGRID_FM050100M0 {
	letter-spacing: 0.5pt;
	vertical-align: middle;
	text-align:left;
	border-width:1px;
	padding:0px 2px;
}

TABLE.DATAGRID_FM050100M0 TR TH {	
	font-weight: bold;
	font-family : verdana;
	white-space:nowrap;
	valign: middle;
	max-width:5px;
}

TABLE.DATAGRID_FM050100M0 TR TD {	
	font-family : verdana;
	white-space:nowrap;
	vertical-align: top;
	font-size:14px;
}

TABLE.DATAGRID_FM050100M0 TR TD INPUT[type="text"] {	
	font-family : verdana;
	white-space:nowrap;
	vertical-align: middle;
	font-size:14px;
	width:5em;
}
/***********************************************
 *         Datagrid styles  2                  *
 *   only modify DATAGRID table  *
 **********************************************/
TABLE.DATAGRID02 {
	/*background-color : #336699;*/
	border-style:solid;
	border-width:0px;
	border-color:#E4FFFF #8BB6B8 #8BB6B8 #E4FFFF;
	letter-spacing: 1.5pt;
	valign: top;
}

TH.DATAGRID02 {	
		color      : #FFFFFF;
		background-color : #336699;
		font-weight: bold;
		font-family : verdana;
		white-space:nowrap;
		valign: top;
}

TABLE.DATAGRID02 TR TD {	
	font-family : verdana;
	padding: 2px;
	white-space:nowrap;
	vertical-align: top;
}

/***********************************************
 *         Datagrid styles                     *
 *  modify-07/14 , only modify DATAGRID table  *
 **********************************************/
TABLE.DATAGRID {	/*所有layout:grid*/
	/*background-color : #336699;*/
	border-color:#0497CA;
	border-style:solid;
	/*border-width:3px;*/
	border-width:1px;
	/*border-color:#E4FFFF #8BB6B8 #8BB6B8 #E4FFFF;*/
	letter-spacing: 1.5pt;	
}

TABLE.DATAGRID_hongchia {
	/*background-color : #336699;*/
	border-style:solid;
	border-width:0px;
	border-color:#E4FFFF #8BB6B8 #8BB6B8 #E4FFFF;
	letter-spacing: 1.5pt;	
}

TH.DATAGRID {	
		color      : #FFFFFF;
		background-color : #336699;
		font-weight: bold;
		font-family : verdana;
		white-space:nowrap;
}

TABLE.DATAGRID TR TD {	
	font-family : verdana;
	padding: 2px;
		white-space:nowrap;
}

TR.DATAGRID {		
	background-color : #FFFFFF;	
}

TR.DATAGRID2 {		
	background-color : #FFFFFF;	
}

.DATAGRID_SEL {
	background-color : #336699;	
}

.DATAGRID_DEL {
	text-decoration: line-through;
}

TR.DATAGRID_DEL TD INPUT {
	text-decoration: line-through;
}

TABLE.DATAGRID TR TD INPUT {		
	/*width: 100%;*/
}
TABLE.DATAGRID_FM020101_1 {
	/*background-color : #336699;*/
	border-style:solid;/* 實心*/
	border-width:0px;
	border-color:#FF3300;
	letter-spacing: 1.5pt;
}


TABLE.DATAGRID_FM020101_1 TR TD {	
	font-family : verdana;
	padding:1.5px;
	white-space:nowrap;
}
TABLE.DATAGRID_FM020101_2 {
	/*background-color : #336699;*/
	border-style:solid;/* 實心*/
	border-width:0px;
	border-color:#FF3300;
	letter-spacing: 0pt;
}


TABLE.DATAGRID_FM020101_2 TR TD {	
	font-family : verdana;
	padding:0px;
	white-space:nowrap;
}



/************************************
 *         Suggest styles          *
 ************************************/

div.suggestionList {
	z-index:500;
	position:absolute;
	width:150px; 
	border:1px solid #333333; 
	background-color:#ffffff; 
	font-family:Verdana; 
	font-size:12; 
	cursor:default; 
	visibility:hidden;
}
div.suggestionList_element_off {
	width: 148px;
	background: #ffffff;
	color: #333333;
	padding-left: 2px;
}
div.suggestionList_element_on {
	width: 148px;
	background: #6D99C6;
	color: #ffffff;
	padding-left: 2px;
}
.MESSAGE_DSC {
	color:red;
	text-align : left;
	font-size:12; 
}
.MESSAGE_MUST {
	color:red;
	text-align : left;
	font-size:12; 
}
.MESSAGE_ERROR {
	color : #dc143c; 
	font-style : bold; 
	font-family: verdana;
	text-align : left;
	font-size: 11pt;
}
TH.MESSAGE_RED {
	color : #dc143c; 
	font-family: verdana;
	font-style : none ; 
	background-color:#B8E0D1;
	vertical-align:middle;
	text-align:left;
	padding:0px 5px;
	font-size:14px;
	height:20px;
	font-weight: 400;
}
.MESSAGE {
	color : #000000; 
	font-style : bold; 
	font-family: verdana;
	text-align : left;
	font-size:12; 
}
TABLE.BROWSE1 {
	background-color : #ABC8E6;
}

TABLE.BROWSE2 {
	background-color : #CCD9E6;
}

TD.BROWSE1 {
	background-color : #6BA8E6;
}

TD.BROWSE_WHITE {
	background-color : #FFFFFF;
}

.gray_font_12 {
             color : #555555;
       font-family : arial;
         font-size : 12px;
}
.top1_banner{
	background-image:url(../config/banner_new_icon.jpg);
	width:1000px;
	height:80px;
}
.top2_banner_center{
	background-image:url(../config/banner_new_icon_1.jpg);
/*	background-color: #CDE3FA; */
	vertical-align:middle;
	width:245px;
	height:40px;
}
.top2_banner_left{
   background-image:url(../config/banner_new_icon_1.jpg);
/*  background-color: #CDE3FA; */
	vertical-align:middle;
	width:200px;
	height:40px;
}
.top2_banner_right{
	background-image:url(../config/banner_new_icon_1.jpg);
/*	background-color: #CDE3FA; */
/*	background-position:left; */
/*	background-repeat:no-repeat; */
	vertical-align:middle;
	width:555px;
	height:40px;
}
.left_bg{
	background-image:url(../config/left.jpg);
/*	background-position:top; */
	background-repeat:repeat-y;
}

.left_bottom_bg{
	background-image:url(../config/left_bottom.jpg);
	background-repeat:no-repeat;
	position:fixed;
	width:200px;
	height:180px;
	bottom:0;
}

.mid_bg{
/*	background-image:url(../config/mid_bg_l.jpg); */
/*	background-repeat:repeat-x; */
/*	background-position:top; */
}
.messagebox {
	font-weight:bold;
	FONT-FAMILY: verdana; 
	TEXT-ALIGN: left; 
	color:#FF0000;
}

.login_table_bg{
/*	background-image:url(../config/LoginBg.jpg); */
	height:800px;
	width: 1000px;
	
}

.login_top_bg{
	background-image:url(../config/bammer.gif);
	width:1000px;
	height:236px;
}
.login_mid_all{
	width:1024px;
	height:630px;
}
.login_mid_l{
	background-image:url(../config/Login-01.jpg);
	width:398px;
	height:400px;
}
.login_mid_c{
	background-image:url(../config/Login-02.jpg);
	width:269px;
	height:400px;
}
.login_mid_r{
	background-image:url(../config/Login-03.jpg);
	width:335px;
	height:400px;
}
.login_text{

	vertical-align: middle;
}

TH.login_text{
		color:#4B9F8E;
		font-size:15px;
		width: 60px;		
	}
	
.login_bot_bg{
	background-image:url(../config/bot_bg.gif);
	width:1000px;
	height:273px;
}
.content_bg{
	background-image:url(../config/watermark.jpg);
	background-repeat:no-repeat;
}
/***********B***********/
FORM{
	/*資料表邊界*/
	padding-right:25px;
	padding-left:25px;
}

/*******************************************************/
/*   TITLE table content set, class name = TITLE       */
/*   modify 07/14                                      */
/*******************************************************/
TABLE.TITLE{
	/*資料表邊界(左右)*/
	padding-right:25px;
	padding-left:25px;
}
TH.TITLE{
/*	background-image:url(../config/banner_01.gif); */
	text-align:center;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	letter-spacing: 15pt;	
	color:#336699;
	height:23px;
}
TD.TITLE{
}
SPAN.TITLE{
}

TH.DATASKey{
	background-color:#97C4C6;
	border-style:solid;
	border-width:1px;
	border-color:#97C4C6 #7EAAA9 #7EAAA9 #97C4C6;
	vertical-align:middle;
	padding:0px 10px;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:15px;
	font-weight:bold;
	color:#334466;
	height:32px;
	width:120px;
}
TD.DATASKey{
	background-color:#B8E0D1;
	border-style:solid;
	border-width:1px;
	border-color:#B8E0D1 #AACABF #9EBAB0 #B8E0D1;
	vertical-align:middle;
	text-align:left;
	padding:0px 10px;
	font-size:15px;
	color:#334466;
	height:32px;
}

SPAN.DATASKey{
	color:#D3334E;
}

SELECT.DATASKey{
	border-style:solid;
	border-width:2px;
	border-color: #217E7C #FFFFFF #FFFFFF #217E7C;
	font-weight:500;
	letter-spacing: 0.8pt;		
	color:#336699;
}
INPUT.DATASKey{
	/*background-color:#E2FDF4;*/
	border-style:solid;
	border-width:2px;
	border-color: #217E7C #FFFFFF #FFFFFF #217E7C;
	font-weight:500;
	letter-spacing: 0.8pt;		
	color:#336699;
}

TEXTAREA.DATASKey{
	/*background-color:#E2FDF4;*/
	border-style:solid;
	border-width:2px;
	border-color: #217E7C #FFFFFF #FFFFFF #217E7C;
	font-weight:500;
	letter-spacing: 0.8pt;		
	color:#336699;
}


/*******************************************************/
/*   DATAGRID table content set, class name = DATAS    */
/*   modify 07/14                                      */
/*******************************************************/
TH.DATAS{	/*th欄位，layout:grid，cols=2，styleClass=DATASGRID*/
	/*background-color:#97C4C6;
	border-style:solid;
	border-width:1px;
	border-color:#97C4C6 #7EAAA9 #7EAAA9 #97C4C6;
	vertical-align:middle;
	padding:0px 10px;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:15px;
	font-weight:bold;
	color:#334466;
	height:32px;
	width:120px;*/
	
	
	
	color: #FFFFFF;
	/*background-color: #787878;*/
	background-color: #1E98C1;
	text-align:center;
	font-size: 11pt;line-height: 16pt;letter-spacing:1pt;
	border-top: 1px  solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	border-style:solid;
	border-width:1px;
	vertical-align:middle;
	padding:0px 10px;
	text-justify:inter-ideograph;
	font-weight:bold;
	height:32px;
	width:120px;
}
TD.DATAS{	/*td欄位，layout:grid，cols=2，styleClass=DATASGRID*/
/*	background-color:#B8E0D1;
	border-style:solid;
	border-width:1px;
	border-color:#B8E0D1 #AACABF #9EBAB0 #B8E0D1;
	vertical-align:middle;
	text-align:left;
	padding:0px 10px;
	font-size:15px;
	color:#334466;
	height:32px;*/
	
	
	color: #242424;
	/*background-color: #eeeeee;*/
	background-color: #E8F0F3;
	font-size: 11pt;line-height: 16pt;letter-spacing:1pt;
	border-top: 1px  solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	border-style:solid;
	border-width:1px;
	vertical-align:middle;
	text-align:left;
	padding:0px 10px;
	height:32px;
	/*width:42.5%;*/
}
TH.DATAS1{
	background-color:#B8E1DF;
	border-style:solid;
	border-width:1px;
	border-color:#97C4C6 #7EAAA9 #7EAAA9 #97C4C6;
	vertical-align:middle;
	padding:0px 5px;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:14px;
	font-weight:bold;
	color:#334466;
	height:26px;
	width:70px;
}
TD.DATAS1{
	background-color:#B8E0D1;
	border-style:solid;
	border-width:1px;
	border-color:#B8E0D1 #AACABF #9EBAB0 #B8E0D1;
	vertical-align:middle;
	text-align:left;
	padding:0px 5px;
	font-size:14px;
	color:#334466;
	height:20px;
}
TH.DATAS2{
	background-color:#5796CC;
	border-style:solid;
	border-width:0px;
	border-color:#63BACE #4296A5 #4296A5 #5AB2C6;
	vertical-align:middle;
	padding:0px 10px;
	letter-spacing: 1px;	
	color:#334466;
	height:30 px;
	white-space:nowrap;
}
TD.DATAS2{
	background-color:#B8E0D1;
	border-style:solid;
	border-width:1px;
	border-color:#B8E0D1 #AACABF #9EBAB0 #B8E0D1;
	vertical-align:top;
	text-align:left;
	padding:0px 5px;
	font-size:14px;
	color:#334466;
	height:100%;
}
TH.DATAS3{
	background-color:#CCECE8;
	border-style:solid;
	border-width:1px;
	border-color:#97C4C6 #7EAAA9 #7EAAA9 #97C4C6;
	vertical-align:middle;
	padding:0px 10px;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:15px;
	font-weight:bold;
	color:#334466;
	height:32px;
	width:120px;
}
TD.DATAS3{
	background-color:#99D9E8;
	border-style:solid;
	border-width:1px;
	border-color:#B8E0D1 #AACABF #9EBAB0 #B8E0D1;
	vertical-align:middle;
	text-align:center;
	font-size:17px;
	color:#334466;
	height:32px;
	width:245px;
}
TD.DATAS3 DIV{
	text-align:center;
	vertical-align:middle;
}
TD.DATAS3 INPUT{
	background-color:#99D9E8;
	border-style:solid;
	border-width:0px;
	text-align:center;
	font-size:17px;
	color:#334466;
	width:245px;
}
TH.DATAS_scanPRODUCT{
	background-color:#CCECE8;
	border-style:solid;
	border-width:1px;
	border-color:#97C4C6 #7EAAA9 #7EAAA9 #97C4C6;
	vertical-align:middle;
	padding:0px 10px;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:16px;
	font-weight:bold;
	color:#334466;
/*	height:32px;*/
	width:38px;
}
TD.DATAS_scanPRODUCT{
	background-color:#99D9E8;
	border-style:solid;
	border-width:1px;
	border-color:#B8E0D1 #AACABF #9EBAB0 #B8E0D1;
	vertical-align:middle;
	text-align:left;
	padding:0px 10px;
	font-size:15px;
	color:#334466;
/*	height:32px;*/
}
INPUT.DATAS_scanPRODUCT{
	text-align:right;
	font-size:28px;
	height:44px;
	font-weight:bold;
}
TABLE.DATAS4{
	overflow:scroll;
}
TH.DATAS4{
	background-color:#99D9E8;
	border-style:solid;
	border-width:1px;
	border-color:#97C4C6 #7EAAA9 #7EAAA9 #97C4C6;
	vertical-align:middle;
	padding:0px 10px;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:15px;
	font-weight:bold;
	color:#334466;
	height:30px;
	width:120px;
}
TD.DATAS4{
	background-color:#CCECE8;
	border-style:solid;
	border-width:1px;
	border-color:#B8E0D1 #AACABF #9EBAB0 #B8E0D1;
	vertical-align:middle;
	text-align:left;
	padding:0px 6px;
	font-size:15px;
	color:#334466;
	height:28px;
}
TH.FM050100_highlight{
	background-color:#99D9E8;
	border-style:solid;
	border-width:1px;
	border-color:#97C4C6 #7EAAA9 #7EAAA9 #97C4C6;
	vertical-align:middle;
	padding:0px 10px;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:15px;
	font-weight:bold;
	color:#334466;
	height:30px;
	width:120px;
}
TD.FM050100_highlight{
	background-color:#E9D2A5;
	border-style:solid;
	border-width:1px;
	border-color:#B8E0D1 #AACABF #9EBAB0 #B8E0D1;
	vertical-align:middle;
	text-align:left;
	padding:0px 6px;
	font-size:15px;
	color:#334466;
	height:28px;
}
TH.DATAS5{
	background-color:#FFFF00;
	border-style:solid;
	border-width:1px;
	border-color:#97C4C6 #7EAAA9 #7EAAA9 #97C4C6;
	vertical-align:middle;
	padding:0px 10px;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:15px;
	font-weight:bold;
	color:#334466;
	height:32px;
	width:120px;
}
TD.DATAS5{
	background-color:#CCCCCC;
	border-style:solid;
	border-width:1px;
	border-color:#B8E0D1 #AACABF #9EBAB0 #B8E0D1;
	vertical-align:middle;
	text-align:left;
	padding:0px 10px;
	font-size:15px;
	color:#334466;
	height:32px;
}
TH.DATAS6{
	background-color:#97C4C6;
	border-style:solid;
	border-width:1px;
	border-color:#97C4C6 #7EAAA9 #7EAAA9 #97C4C6;
	vertical-align:middle;
	padding:0px 10px;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:15px;
	font-weight:bold;
	color:#334466;
	height:32px;
	width:120px;
}
TD.DATAS6{
	background-color:#B8E0D1;
	border-style:solid;
	border-width:1px;
	border-color:#B8E0D1 #AACABF #9EBAB0 #B8E0D1;
	vertical-align:middle;
	text-align:left;
	padding:0px 10px;
	font-size:15px;
	color:#334466;
	height:32px;
}
TD.DATAS6 INPUT{
	background-color:#B8E0D1;
	border-width:0px;
	color:#024487;
	white-space:nowrap;
}
TD.DATAS6 TEXTAREA{
	background-color:#B8E0D1;
	border-width:0px;
	color:#024487;
	overflow:auto;
}
SPAN.DATAS{
	font-size: 11pt;
}
TD.DATAS9{
	background-color:#eeeeee;
	border-style:solid;
	border-width:1px;
	
	border-top: 1px  solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	
	vertical-align:middle;
	text-align:middle;
	padding:0px 10px;
	font-size:15px;
	color:#334466;
	height:32px;

}
TH.DATAS10{	/*th欄位，layout:grid，cols=1，styleClass=DATASGRID*/
	color: #FFFFFF;
	/*background-color: #787878;*/
	background-color: #1E98C1;
	text-align:center;
	font-size: 11pt;line-height: 16pt;letter-spacing:1pt;
	border-top: 1px  solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	border-style:solid;
	border-width:1px;
	vertical-align:middle;
	padding:0px 10px;
	text-justify:inter-ideograph;
	font-weight:bold;
	height:32px;
	width:120px;
}
TD.DATAS10{	/*td欄位，layout:grid，cols=1，styleClass=DATASGRID*/
	color: #242424;
	/*background-color: #eeeeee;*/
	background-color: #E8F0F3;
	font-size: 11pt;line-height: 16pt;letter-spacing:1pt;
	border-top: 1px  solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	border-style:solid;
	border-width:1px;
	vertical-align:middle;
	text-align:left;
	padding:0px 10px;
	height:32px;
}
TH.DATAS11{	/*th欄位，layout:grid，cols=3，styleClass=DATASGRID*/
	color: #FFFFFF;
	/*background-color: #787878;*/
	background-color: #1E98C1;
	text-align:center;
	font-size: 11pt;line-height: 16pt;letter-spacing:1pt;
	border-top: 1px  solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	border-style:solid;
	border-width:1px;
	vertical-align:middle;
	padding:0px 10px;
	text-justify:inter-ideograph;
	font-weight:bold;
	height:32px;
	width:8%;
}
TD.DATAS11{	/*td欄位，layout:grid，cols=3，styleClass=DATASGRID*/
	color: #242424;
	/*background-color: #eeeeee;*/
	background-color: #E8F0F3;
	font-size: 11pt;line-height: 16pt;letter-spacing:1pt;
	border-top: 1px  solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	border-style:solid;
	border-width:1px;
	vertical-align:middle;
	text-align:left;
	padding:0px 10px;
	height:32px;
	width:26%;
}
/*******************************************************/
/*   INPUT ITEM set, class name = DATAS                */
/*   modify 07/14                                      */
/*******************************************************/

SELECT.DATAS{
	border-style:solid;
	border-width:2px;
	border-color: #217E7C #FFFFFF #FFFFFF #217E7C;
	font-weight:500;
	letter-spacing: 0.8pt;		
	color:#336699;
	font-size: 11pt;
}
INPUT.DATAS{
	/*background-color:#E2FDF4;*/
	border-style:solid;
	border-width:2px;
	border-color: #217E7C #FFFFFF #FFFFFF #217E7C;
	font-weight:500;
	letter-spacing: 0.8pt;		
	color:#336699;
	font-size: 11pt;
}

TEXTAREA.DATAS{
	/*background-color:#E2FDF4;*/
	border-style:solid;
	border-width:2px;
	border-color: #217E7C #FFFFFF #FFFFFF #217E7C;
	font-weight:500;
	letter-spacing: 0.8pt;		
	color:#336699;
	font-size: 11pt;
}

INPUT.READONLY{
	background-color:#E2FDF4;
	border-style:solid;
	border-width:2px;
	border-color: #217E7C #FFFFFF #FFFFFF #217E7C;
	font-weight:500;
	letter-spacing: 0.8pt;		
	/*color:#336699;*/
}
SELECT.DATAS10{
	border-style:solid;
	border-width:2px;
	border-color: #217E7C #FFFFFF #FFFFFF #217E7C;
	font-weight:500;
	letter-spacing: 0.8pt;		
	color:#336699;
	font-size: 11pt;
}
INPUT.DATAS10{
	/*background-color:#E2FDF4;*/
	border-style:solid;
	border-width:2px;
	border-color: #217E7C #FFFFFF #FFFFFF #217E7C;
	font-weight:500;
	letter-spacing: 0.8pt;		
	color:#336699;
	font-size: 11pt;
}

TEXTAREA.DATAS10{
	/*background-color:#E2FDF4;*/
	border-style:solid;
	border-width:2px;
	border-color: #217E7C #FFFFFF #FFFFFF #217E7C;
	font-weight:500;
	letter-spacing: 0.8pt;		
	color:#336699;
	font-size: 11pt;
}

INPUT.READONLY10{
	background-color:#E2FDF4;
	border-style:solid;
	border-width:2px;
	border-color: #217E7C #FFFFFF #FFFFFF #217E7C;
	font-weight:500;
	letter-spacing: 0.8pt;		
	/*color:#336699;*/
}
SELECT.DATAS11{
	border-style:solid;
	border-width:2px;
	border-color: #217E7C #FFFFFF #FFFFFF #217E7C;
	font-weight:500;
	letter-spacing: 0.8pt;		
	color:#336699;
	font-size: 11pt;
}
INPUT.DATAS11{
	/*background-color:#E2FDF4;*/
	border-style:solid;
	border-width:2px;
	border-color: #217E7C #FFFFFF #FFFFFF #217E7C;
	font-weight:500;
	letter-spacing: 0.8pt;		
	color:#336699;
	font-size: 11pt;
}

TEXTAREA.DATAS11{
	/*background-color:#E2FDF4;*/
	border-style:solid;
	border-width:2px;
	border-color: #217E7C #FFFFFF #FFFFFF #217E7C;
	font-weight:500;
	letter-spacing: 0.8pt;		
	color:#336699;
	font-size: 11pt;
}

INPUT.READONLY11{
	background-color:#E2FDF4;
	border-style:solid;
	border-width:2px;
	border-color: #217E7C #FFFFFF #FFFFFF #217E7C;
	font-weight:500;
	letter-spacing: 0.8pt;		
	/*color:#336699;*/
}

/*******************************************************/
/*   DATAGRID table content set, class name = LOGDATA  */
/*   modify 07/14                                      */
/*******************************************************/
TH.LOGDATA{
	/*background-color:#94CFCE;*/
	background-color:#1E98C1;
	border-style:solid;
	border-width:1px;
	border-color:#97C4C6 #7EAAA9 #7EAAA9 #97C4C6;
	vertical-align:middle;
	padding:0px 10px;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:15px;
	color:#334466;
	height:30px;
	width:120px;
	font-size: 11pt;	
}
TD.LOGDATA{
	/*background-color:#B5E3D6;*/
	background-color:#E8F0F3;
	border-style:solid;
	border-width:1px;
	border-color:#B8E0D1 #AACABF #9EBAB0 #B8E0D1;
	padding:0px 10px;
	text-align:center;
	font-size:15px;
	color:#334466;
	height:30px;
}
SPAN.LOGDATA {
}
/*******************************************************/
/*   DATAGRID table content set, class name = LOGDATA1  */
/*   modify 07/14                                      */
/*******************************************************/
TH.LOGDATA1{
	background-color:#94CFCE;
	border-style:solid;
	border-width:1px;
	border-color:#97C4C6 #7EAAA9 #7EAAA9 #97C4C6;
	vertical-align:middle;
	padding:0px 10px;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:15px;
	color:#334466;
	height:30px;
	width:120px;	
}
TD.LOGDATA1{
	background-color:#B5E3D6;
	border-style:solid;
	border-width:1px;
	border-color:#B8E0D1 #AACABF #9EBAB0 #B8E0D1;
	padding:0px 10px;
	text-align:center;
	font-size:15px;
	color:#334466;
	height:30px;
}
TD.LOGDATA1 INPUT{
	background-color:#B5E3D6;
	border-width:0px;
	text-align:center;
	font-size:15px;
	color:#334466;
}
SPAN.LOGDATA1 {
}
/*TABLE.GRIDDATA*/

/*******************************************************/
/*   PAGER table content set, class name = PAGER    */
/*   modify 07/15                                      */
/*******************************************************/
TABLE.PAGER {
}
TD.PAGER {
	color:#003366;
	font-weight:bold;
	height:30px;
}
A.PAGER {
	text-decoration:underline;
	font-weight:100;
	color:#111111;
	padding:0 px 5px;
}
/***********************************************************/
/*   COLLECTION table content set, class name = COLLECTION */
/*   modify 07/15                                          */
/***********************************************************/
TABLE.COLLECTION {
	border-style:solid;
	/*border-width:3px;*/
	border-width:1px;
	border-color:#0497CA
	/*border-color:#E4FFFF #8BB6B8 #8BB6B8 #E4FFFF;*/
}

TH.COLLECTION {
/*	background-color:#5796CC;
	border-style:solid;
	border-width:0px;
	border-color:#63BACE #4296A5 #4296A5 #5AB2C6;
	vertical-align:middle;
	padding:0px 10px;
	letter-spacing: 1px;	
	color:#334466;
	height:30 px;
	white-space:nowrap;*/
	
	
	
	/*background-color:#666666;*/
	/*background-color:#5796CC;*/
	background-color:#1A83A3;
	border-style:solid;
	border-width:0px;
	border-color:#63BACE #4296A5 #4296A5 #5AB2C6;
	vertical-align:middle;
	padding:0px 10px;
	letter-spacing: 1px;
	color: #ffffff;
	/*color:#334466;*/
	height:30 px;
	white-space:nowrap;
	font-size: 11pt;
}

TD.COLLECTION {
	/*background-color:#B3D9E0;
	border-style:solid;
	border-width:0px;
	border-color:#97C4C6 #7EAAA9 #7EAAA9 #97C4C6;	
	padding:0px 10px;
	font-size:15px;
	letter-spacing: 1px;				
	color:#024487;
	height:20px;
	white-space:nowrap;*/

	/*background-color:#CCCCCC;*/
	/*background-color:#B3D9E0;*/
	background-color:#B8D3DC;
	border-style:solid;
	border-width:0px;
	border-color:#97C4C6 #7EAAA9 #7EAAA9 #97C4C6;	
	padding:0px 10px;
	font-size: 11pt;line-height: 16pt;letter-spacing:1pt;
	/*font-size:15px;*/
	letter-spacing: 1px;
	color: #242424;
	/*color:#024487;*/
	height:20px;
	white-space:nowrap;
}
TD.COLLECTION_1 {
	background-color:#B3D9E0;
	border-style:solid;
	border-width:1px;
	border-color:#97C4C6 #7EAAA9 #7EAAA9 #97C4C6;	
	padding:0px 10px;
	font-size:15px;
	letter-spacing: 1px;				
	color:#024487;
	height:20px;
	white-space:nowrap;
}
TD.COLLECTION_2 {
	/*background-color:#B5E3D6;
	border-style:solid;
	border-width:1px;
	border-color:#B8E0D1 #AACABF #9EBAB0 #B8E0D1;	
	padding:0px 10px;
	letter-spacing: 1px;				
	font-size:15px;
	color:#024487;
	height:20px;
	white-space:nowrap;*/
	color: #242424;
	/*background-color: #eeeeee;*/
	background-color: #E8F0F3;
	font-size: 11pt;line-height: 16pt;letter-spacing:1pt;
	border-top: 1px  solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	
	/*background-color:#B5E3D6;*/
	border-style:solid;
	border-width:1px;
	/*border-color:#B8E0D1 #AACABF #9EBAB0 #B8E0D1;	*/
	padding:0px 10px;
	letter-spacing: 1px;				
	/*
	font-size:15px;
	color:#024487;
	*/
	height:20px;
	white-space:nowrap;
}
TABLE.COLLECTION_3 {
	border-style:solid;
	border-width:3px;
	border-color:#E4FFFF #8BB6B8 #8BB6B8 #E4FFFF;
}

TH.COLLECTION_3 {
	background-color:#5796CC;
	border-style:solid;
	border-width:0px;
	border-color:#63BACE #4296A5 #4296A5 #5AB2C6;
	vertical-align:middle;
	padding:0px 10px;
	letter-spacing: 1px;	
	color:#334466;
	height:30 px;
	white-space:nowrap;
}

TD.COLLECTION_3 {
	background-color:#B3D9E0;
	border-style:solid;
	border-width:0px;
	border-color:#97C4C6 #7EAAA9 #7EAAA9 #97C4C6;	
	padding:0px 10px;
	font-size:15px;
	letter-spacing: 1px;				
	color:#024487;
	height:20px;
	white-space:nowrap;
}
TD.COLLECTION_3 INPUT{
	background-color:#B3D9E0;
	border-width:0px;
	padding:0px 10px;
	color:#024487;
}
TD.COLLECTION_4 {
	background-color:#B5E3D6;
	border-style:solid;
	border-width:1px;
	border-color:#B8E0D1 #AACABF #9EBAB0 #B8E0D1;	
	padding:0px 10px;
	letter-spacing: 1px;				
	font-size:15px;
	color:#024487;
	height:20px;
	white-space:nowrap;
}
TD.COLLECTION_4 INPUT div ta{
	background-color:#B3D9E0;
	border-width:0px;
	padding:0px 10px;
	color:#024487;
}
/**********************/